* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgb(112, 161, 225);
    font-size: 200%;
    width: 100%;
    border: 10px solid rgb(102, 102, 181);
}

.Anika{
    font-size: 200%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-right{
   margin-left: 360px;
   margin-top: 25px;
   font: white;
}

.welcome-banner{
    background-color: rgb(188, 221, 250);
}

.welcome-banner-image {
    width: 100%;
    height: 400px;
}
.centered {
    font-size: 300%;
    font-style: oblique;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.side-bar {
    display: flex;
    flex: wrap;
}

h2 {
    font-size: 350%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
}

#about {
    background-color: rgb(188, 221, 250);
}

p {
    font-size: 300;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}

.center-page {
    background-color: rgb(188, 221, 250);
}

h3 {
    font-size: 350%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
}

h4 {
    margin-left: 550px;
    margin-right: 90px;
    background-color: rgb(86, 86, 182);
    font-style: italic;
    font-size: 200%;
    padding: 10px;
}

h5 {
    margin-left: 550px;
    margin-right: 470px;
    background-color: rgb(86, 86, 182);
    font-style: italic;
    font-size: 200%;
    padding: 10px;
}

.main-image {
    margin-top: -170px;
    margin-left: 550px;
    width: 800px;
    height: 500px;
    border: 10px solid grey;
}

.placeholder-1 {
    width: 420px;
    height: 300px;
    margin-top: 60px;
    margin-left: 550px;
    border: 10px solid grey;
}

h6 {
    font-size: 300%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 80px;
}

.contact-1 {
    display: flex;
    flex: wrap;
    font-size: 150%;
    margin-top: 70px;
    margin-left: 350px;
    margin-right: 20px;
    margin-bottom: 60px;
}

li {
    margin-left: 50px;
}

.footer {
    display: flex;
    flex: wrap;
    font-size: 200%;
    background-color: rgb(112, 161, 225);
    border: 10px solid rgb(102, 102, 181);
}

.footer-1 {
    margin-left: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.welcome-banner-image {
    width: 100%;
    height: 400px;
}
.centered {
    font-size: 300%;
    font-style: oblique;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@media screen and (max-width: 768px) {
    header main footer img {
      display: flex;
      flex: wrap;
    }
  }