* {
    font-family: 'monospace'
}

header {
    background-color: rgb(112, 161, 225);
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    width: 100%;
    border: 10px solid darkblue;
}

/* fix the contact section*/
.top-right{
    
}

#About {
 background-color: rgb(188, 221, 250);
}

img {
    width: 800px;
    height: 500px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 50px;
}

.placeholder {
    display: inline;
}

.placeholder img {
    width: 500px;
    height: 300px;
    display: inline;
}

footer {
    background-color: rgb(140, 203, 201);
    font-size: xx-large;
}

.footer {
    margin-left: 600px;
}
