* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgb(112, 161, 225);
    font-size: 200%;
    width: 100%;
    border: 10px solid rgb(102, 102, 181);
}

.Anika{
    font-size: 200%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-right{
   margin-left: 330px;
   margin-top: 25px;
   font: white;
}

.welcome-banner{
    font-size: 50%;
    font-style: oblique;
    background-color: rgb(188, 221, 250);
    border: 10px solid rgb(212, 210, 210);
}

.welcome-banner-1 {
    margin-left: 450px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.side-bar {
    display: flex;
    flex: wrap;
}

h2 {
    font-size: 350%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
}

#about {
    background-color: rgb(188, 221, 250);
}

p {
    font-size: 300;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 25px;
    margin-bottom: 60px;
}

.center-page {
    background-color: rgb(188, 221, 250);
}

/* project section*/

h3 {
    font-size: 350%;
    margin-top: 300px;
    margin-bottom: 60px;
    margin-left: 50px;
}

img {
    width: 800px;
    height: 500px; 
    margin-top: -400px;
}

.placeholder-1 {
    width: 500px;
    height: 300px;
}

/* project section*/

h6 {
    font-size: 300%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 80px;
}

.contact-1 {
    display: flex;
    flex: wrap;
    font-size: 150%;
    margin-top: 70px;
    margin-left: 350px;
    margin-right: 20px;
    margin-bottom: 60px;
}

li {
    margin-left: 50px;
}

.footer {
    display: flex;
    flex: wrap;
    font-size: 200%;
    background-color: rgb(112, 161, 225);
    border: 10px solid rgb(102, 102, 181);
}

.footer-1 {
    margin-left: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      justify-content: space-between;
    }
  }